{% extends 'base.html'%}
{% block content %}
<div class="container">
  <div class="row">
    {% for realization in realizations %}
    <div class="col s12 l6">
    <div class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{realization.main_image}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{realization.title}}<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{realization.title}}<i class="material-icons right">close</i></span>
      <p>{{realization.short_description}}</p>
    </div>
    <div class="card-action">
      <p><a href="{% url 'realizations:details-realization' pk=realization.pk slug=realization.slug  %}">Zobacz więcej</a></p>
    </div>
  </div>
  </div>
    {% endfor %}
  </div>
  {% if is_paginated %}
    <ul class="pagination center-align">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active green"><span>{{ i }} <span class="sr-only"></span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
</div>
{% endblock %}
